@model FitnessGymproject.Models.Trainer

@{
    Layout = "~/Views/Shared/TrainerLayout.cshtml";
    Layout = "~/Views/Shared/Home_Layout.cshtml";

}

<style>
    body {
        background-color: white;
    }

    section {
        margin-top: 100px; 
        padding: 20px;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .card-body {
        width: 100%;
        max-width: 900px; 
    }

    h5 {
        font-size: 1.5rem;
        color: #333;
    }
</style>

<section>
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="card mb-4 border-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4 text-center">
                                <img src="@Model.Imageprofileurl"
                                     alt="Avatar" class="img-fluid my-4 rounded-circle" style="width: 120px; height: 120px; object-fit: cover;" />
                                <h5 class="my-3">@ViewData["TrainerName"]</h5> 
                                <p class="text-muted mb-1">@ViewData["TrainerSpecialization"]</p>

                                <a asp-controller="TrainerPage" asp-action="Edit">Edit Trainer</a>
                            </div>
                            <div class="col-lg-8">
                                <hr>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <p class="mb-0 font-weight-bold">Email</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">@ViewData["TrainerEmail"] </p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <p class="mb-0 font-weight-bold">Phone</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">@ViewData["TrainerPhoneNumber"]</p>
                                    </div>
                                </div>

                                <hr>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <p class="mb-0 font-weight-bold">Bio</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">@ViewData["TrainerBio"]</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
