
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>
    <link rel="stylesheet" href="~/AdminDesign1/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/AdminDesign1/assets/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/AdminDesign1/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/AdminDesign1/assets/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/AdminDesign1/assets/vendors/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/AdminDesign1/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="~/AdminDesign1/assets/css/style.css">
    <link rel="shortcut icon" href="~/AdminDesign1/assets/images/favicon.png" />
    <style>
        footer {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: #f8f9fa; 
            padding: 10px 20px; 
            box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
            z-index: 1000; 
        }
    </style>
</head>
<body>
    
    <div class="container-scroller">
        <div class="row p-0 m-0 proBanner" id="proBanner">
            <div class="col-md-12 p-0 m-0">
                <div class="card-body card-body-padding d-flex align-items-center justify-content-between">
                    <div class="ps-lg-3">
                        <div class="d-flex align-items-center justify-content-between">
                            <p class="mb-0 font-weight-medium me-3 buy-now-text">Free 24/7 customer support, updates, and more with this template!</p>
                            <a href="https://www.bootstrapdash.com/product/purple-bootstrap-admin-template/" target="_blank" class="btn me-2 buy-now-btn border-0">Buy Now</a>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <a href="https://www.bootstrapdash.com/product/purple-bootstrap-admin-template/"><i class="mdi mdi-home me-3 text-white"></i></a>
                        <button id="bannerClose" class="btn border-0 p-0">
                            <i class="mdi mdi-close text-white mr-0"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
                <a class="navbar-brand brand-logo" href="index.html"><img src="~/AdminDesign1/assets/images/logo.svg" alt="logo" /></a>
                <a class="navbar-brand brand-logo-mini" href="~/AdminDesign1/index.html"><img src="~/AdminDesign1/assets/images/logo-mini.svg" alt="logo" /></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-stretch">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="mdi mdi-menu"></span>
                </button>
                
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                        

                            <div class="nav-profile-text">
                                <p class="mb-1 text-black">@ViewData["AdminName"]</p>
                            </div>
                        </a>
                        <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                            <a class="dropdown-item" asp-action="Adminprofile" asp-controller="Adminpage">
                                <i class="mdi mdi-cached me-2 text-success"></i> My Profile
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action("Logout", "LoginAndRegister")">
                                Logout
                            </a>

                    </li>
                    <li class="nav-item d-none d-lg-block full-screen-link">
                        <a class="nav-link">
                            <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
                        </a>
                    </li>
                    <li class="nav-item nav-logout d-none d-lg-block">
                        <a class="nav-link" href="@Url.Action("Logout", "LoginAndRegister")">
                            <i class="mdi mdi-power"></i>
                        </a>
                    </li>

                    <li class="nav-item nav-settings d-none d-lg-block">
                        <a class="nav-link" href="#">
                            <i class="mdi mdi-format-line-spacing"></i>
                        </a>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>
        <div class="container-fluid page-body-wrapper">
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item nav-profile">
                        <a href="#" class="nav-link">
                            <div class="nav-profile-text d-flex flex-column">
                                <span class="font-weight-bold mb-2">@ViewData["AdminName"]</span>
                            </div>
                            <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Adminpage" asp-action="Index">
                            <span class="menu-title">Dashboard</span>
                            <i class="mdi mdi-home menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                      
                        <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                            <span class="menu-title">Members And Gustes</span>
                            <i class="menu-arrow"></i>
                            <i class="mdi mdi-crosshairs-gps menu-icon"></i>
                        </a>
                        <div class="collapse" id="ui-basic">
                            <ul class="nav flex-column sub-menu">
                                 
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="Index" asp-controller="Testimonials">View Testimonials List</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="Index" asp-controller="Contactus">Contact us</a>
                                </li>
                               
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
                            <span class="menu-title">Admin</span>
                            <i class="mdi mdi-contacts menu-icon"></i>
                        </a>
                        <div class="collapse" id="icons">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" asp-action="Create" asp-controller="Admins">Create New Admins</a></li>
                                <li class="nav-item"> <a class="nav-link" asp-action="Index" asp-controller="Admins">View Admins</a></li>
                             
                            </ul>
                        </div>
                    </li>
                   
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
                            <span class="menu-title">Subscriptions</span>
                            <i class="mdi mdi-chart-bar menu-icon"></i>
                        </a>
                        <div class="collapse" id="charts">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" asp-action="Index" asp-controller="Subscriptions">View  Subscriptions List</a></li>

                                <li class="nav-item"> <a class="nav-link" asp-action="MonthlyReport" asp-controller="Adminpage"> Monthly Report</a></li>
                                <li class="nav-item"> <a class="nav-link" asp-action="AnnualReport" asp-controller="Adminpage"> Annual Report</a></li>
                                <li class="nav-item"> <a class="nav-link" asp-action="MonthlyChart" asp-controller="Adminpage">Monthly Chart</a></li>
                                <li class="nav-item"> <a class="nav-link" asp-action="AnnualChart" asp-controller="Adminpage">Annual Chart</a></li>


                                
                              
                            </ul>
                        </div>
                    </li>
                   
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                            <span class="menu-title">User Pages</span>
                            <i class="menu-arrow"></i>
                            <i class="mdi mdi-lock menu-icon"></i>
                        </a>
                        <div class="collapse" id="auth">
                            <ul class="nav flex-column sub-menu">


                                <li class="nav-item"> <a class="nav-link" asp-action="Index" asp-controller="Trainers">View  Trainer List</a></li>
                                <li class="nav-item"> <a class="nav-link" asp-action="Create" asp-controller="Trainers">Create New Trainer </a></li>
                                <li class="nav-item"> <a class="nav-link" asp-action="Index" asp-controller="Members">View  Member List</a></li>
                                <li class="nav-item"> <a class="nav-link" asp-action="Create" asp-controller="Members">Create New Member </a></li>

                            </ul>
                        </div>
                    </li>



                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                            <span class="menu-title">Membership Plan</span>
                        </a>
                        <div class="collapse" id="auth">
                            <ul class="nav flex-column sub-menu">


                                <li class="nav-item"> <a class="nav-link" asp-controller="MembershipPlans" asp-action="Create">Create</a></li>
                                <li class="nav-item"> <a class="nav-link" asp-controller="MembershipPlans" asp-action="Index">Membership plans list</a></li>

                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                            <span class="menu-title">Static Pages</span>
                            <i class="menu-arrow"></i>
                            <i class="mdi mdi-lock menu-icon"></i>
                        </a>
                        <div class="collapse" id="auth">
                            <ul class="nav flex-column sub-menu">


                                <li class="nav-item"> <a class="nav-link" asp-action="Index" asp-controller="Aboutus"> About us</a></li>
                                <li class="nav-item"> <a class="nav-link" asp-action="Create" asp-controller="Aboutus">Create About us </a></li>
                                <li class="nav-item"> <a class="nav-link" asp-action="Index" asp-controller="Homepages">Home pages</a></li>
                                <li class="nav-item"> <a class="nav-link" asp-action="Create" asp-controller="Homepages">Create Homepages </a></li>

                            </ul>
                        </div>
                    </li>

                </ul>
            </nav>
            @RenderBody()
            <footer>
                <div class="container text-center">
                    <p>&copy; 2025 Fitness. All rights reserved.</p>
                </div>
            </footer>
	            <!-- plugins:js -->
            <script src="~/AdminDesign1/assets/vendors/js/vendor.bundle.base.js"></script>
            <!-- endinject -->
            <!-- Plugin js for this page -->
            <script src="~/AdminDesign1/assets/vendors/chart.js/chart.umd.js"></script>
            <script src="~/AdminDesign1/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
            <!-- End plugin js for this page -->
            <!-- inject:js -->
            <script src="~/AdminDesign1/assets/js/off-canvas.js"></script>
            <script src="~/AdminDesign1/assets/js/misc.js"></script>
            <script src="~/AdminDesign1/assets/js/settings.js"></script>
            <script src="~/AdminDesign1/assets/js/todolist.js"></script>
            <script src="~/AdminDesign1/assets/js/jquery.cookie.js"></script>
            <!-- endinject -->
            <!-- Custom js for this page -->
            <script src="~/AdminDesign1/assets/js/dashboard.js"></script>
            <!-- End custom js for this page -->
            @RenderSection("Scripts", required: false)
</body>
</html>