@model IEnumerable<FitnessGymproject.Models.Workoutplan>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/TrainerLayout.cshtml";
}

<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Workout Plans</h4>

                <a asp-action="Create" class="btn btn-sm btn-primary mb-3">Create New Plan</a>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Plan Name</th>
                                <th>Exercises</th>
                                <th>Schedule</th>
                                <th>Goals</th>

                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.PlanName</td>
                                    <td>@item.Exercises</td>
                                    <td>@item.Schedule</td>
                                    <td>@item.Goals</td>

                                
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.WorkoutPlanId" class="btn btn-sm btn-warning">Edit</a>
                                        <a asp-action="Details" asp-route-id="@item.WorkoutPlanId" class="btn btn-sm btn-info">Details</a>
                                        <a asp-action="Delete" asp-route-id="@item.WorkoutPlanId" class="btn btn-sm btn-danger">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
