@model FitnessGymproject.Models.Payment

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<h4>Payment</h4>
<hr />

<section>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @if (ViewBag.ErrorMessage != null)
                {
                    <div class="alert alert-danger">
                        @ViewBag.ErrorMessage
                    </div>
                }
                <div class="form-group">
                    <label asp-for="MemberId" class="control-label"></label>
                    <input type="hidden" asp-for="MemberId" value="@ViewData["MemberId"]" /> <!-- Hidden field to store logged-in member's ID -->
                </div>
                <div class="form-group">
                    <label asp-for="SubscriptionId" class="control-label"></label>
                    <select type="hidden" asp-for="SubscriptionId" class="form-control" asp-items="ViewBag.SubscriptionId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Amount" class="control-label"></label>
                    <input asp-for="Amount" class="form-control" />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PaymentMethod" class="control-label"></label>
                    <input asp-for="PaymentMethod" class="form-control" />
                    <span asp-validation-for="PaymentMethod" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="CardNumber">Card Number</label>
                    <input type="text" class="form-control" id="CardNumber" name="CardNumber" maxlength="19" value="@Model.CardNumber" />
                </div>

                <div class="form-group">
                    <label for="ExpirationDate">Expiration Date (MM/YY)</label>
                    <input type="text" class="form-control" id="ExpirationDate" name="ExpirationDate" maxlength="5" value="@Model.ExpirationDate" />
                </div>

                <div class="form-group">
                    <label for="SecurityCode">Security Code (CVV)</label>
                    <input type="text" class="form-control" id="SecurityCode" name="SecurityCode" maxlength="4" value="@Model.SecurityCode" />
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>

            </form>
        </div>
    </div>
</section>

<div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
