@model IEnumerable<FitnessGymproject.Models.MembershipPlan>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Membership Plan List</h4>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Plan Name</th>
                                <th>Plan Description</th>
                                <th>Included Services</th>
                                <th>Price</th>
                                <th>Duration (Days)</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.PlanName</td>
                                    <td>@item.PlanDescription</td>
                                    <td>@item.IncludedServices</td>
                                    <td>@item.Price</td>
                                    <td>@item.DurationDays</td>
                                 
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.MembershipPlanId" class="btn btn-sm btn-warning">Edit</a>
                                        <a asp-action="Details" asp-route-id="@item.MembershipPlanId" class="btn btn-sm btn-info">Details</a>
                                        <a asp-action="Delete" asp-route-id="@item.MembershipPlanId" class="btn btn-sm btn-danger">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

