@model IEnumerable<MembershipPlan>

@{
    ViewData["Title"] = "Available Membership Plans";
}

<h2>Available Membership Plans</h2>

@if (ViewBag.AlertMessage != null)
{
    <div class="alert alert-info">
        @ViewBag.AlertMessage
    </div>
}

@if (!Model.Any())
{
    <p>No available membership plans at the moment.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Plan Name</th>
                <th>Duration (Days)</th>
                <th>Total Payment</th>
                <th>Available Payment Methods</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var plan in Model)
            {
                <tr>
                    <td>@plan.PlanName</td>
                    <td>@plan.DurationDays</td>
                    <td>@plan.Price</td>
                    <td>
                        @* Display the payment methods text *@
                        <p>@ViewData["UserPaymentMethodsText"]</p>
                    </td>
                    <td>
                        <form asp-action="SubscribeToMembershipPlan" method="post">
                            <input type="hidden" name="membershipPlanId" value="@plan.MembershipPlanId" />

                            <button type="submit" class="btn btn-primary">Subscribe</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}